// measurements
$border-width-meaurement: .3rem;
$border-radius-measurement: .5rem;

// other properties
$speed-transition-standard: .35s;
$speed-transition-hover: .1s;

// colors
$color-white: #fff;
$color-light: #ebe8ee;
$color-medium: #c2bec7;
$color-dark: #49484b;

$color-primary: #c7ffff;
$color-secondary: #FBEEFF;

$color-text-primary: #7756bd;
$color-text-secondary: #5b5267;
$color-link: #7E80FF;
$color-link-hover: #5b4094;

$color-borders: #EBC6FF;

$color-background: #fff;
$color-shadow-mix: #716481;
$color-shadow-mix: #6f568e;
// ex: mix(#color-primary, $color-shadow-mix, 10%)
